<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Infragistics.Win.UltraWinSchedule.UltraCalendarInfo.form_agenda.AgendaUltraCalendarInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Gerenciamento_CRAFI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Gerenciamento_CRAFI.My.MySettings.GerenciamentoCRAFIConnectionString" connectionString="Data Source=DESKTOP-0LUEK7F;Initial Catalog=&quot;Gerenciamento CRAFI&quot;;User ID=Crafi;Password=crafi0123;Connect Timeout = 0" providerName="System.Data.SqlClient"/>
        <add name="Gerenciamento_CRAFI.My.MySettings.Servidor2" connectionString="Data Source=Eduardo-PC\SQLEXPRESS;Initial Catalog=&quot;Gerenciamento CRAFI 2&quot;;User ID=Crafi3;Password=crafi30123;Connect Timeout = 0"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Infragistics.Win.UltraWinSchedule.UltraCalendarInfo.form_agenda.AgendaUltraCalendarInfo>
            <setting name="BinaryData" serializeAs="Xml">
                <value>
                    <base64Binary>AAEAAAD/////AQAAAAAAAAAMAgAAAHNJbmZyYWdpc3RpY3MyLldpbi5VbHRyYVdpblNjaGVkdWxlLnYxMC4zLCBWZXJzaW9uPTEwLjMuMjAxMDMuMTAwMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj03ZGQ1YzMxNjNmMmNkMGNiBQEAAAA+SW5mcmFnaXN0aWNzLldpbi5VbHRyYVdpblNjaGVkdWxlLkNhbGVuZGFySW5mb1N0cmVhbWVyQWxsUHJvcHMBAAAACFdlZWtSdWxlAAgCAAAAAgAAAAs=</base64Binary>
                </value>
            </setting>
        </Infragistics.Win.UltraWinSchedule.UltraCalendarInfo.form_agenda.AgendaUltraCalendarInfo>
        <Gerenciamento_CRAFI.My.MySettings>
            <setting name="Aniversario" serializeAs="String">
                <value>-01-</value>
            </setting>
            <setting name="ConsultaData" serializeAs="String">
                <value>-01-</value>
            </setting>
            <setting name="ConsultaDataGrafico" serializeAs="String">
                <value>-01-</value>
            </setting>
            <setting name="AniversarioProfissional" serializeAs="String">
                <value>-01-</value>
            </setting>
            <setting name="UsuarioTotalDRE" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="rdo_Servidor1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rdo_Servidor2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tipoForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NomeServidor2" serializeAs="String">
                <value>Servidor-PC\SQLExpress</value>
            </setting>
            <setting name="UsuarioServidor2" serializeAs="String">
                <value>Sigecrafi2</value>
            </setting>
            <setting name="NomeServidor1" serializeAs="String">
                <value>Servidor-PC\SQLExpress</value>
            </setting>
            <setting name="UsuarioServidor1" serializeAs="String">
                <value>Crafi2</value>
            </setting>
        </Gerenciamento_CRAFI.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
